
.DS_Store

*.swp

rendered/*
versions/*

*.pyc

doc/build
doc/
*.graphml

*.graphml

*.graphml2

*.gz

*.log

autonetkit.log.*
autonetkit.cfg

erl_crash.dump

autonetkit_v3.egg-info/*

nectar1/*
autonetkit/load/worm.py

autonetkit/deploy/worm.py

autonetkit/templates/ios2/*
test.xml

output.xml

testenv/*
dist/*


autonetkit_v3_cisco.egg-info/*