include autonetkit/ank_vis/*.*
include autonetkit/ank_vis/icons/*.*

recursive-include autonetkit/textfsm *
include autonetkit/templates/*.mako
recursive-include autonetkit/templates/quagga *
include autonetkit/config/configspec.cfg
