[Rabbitmq]
active = boolean(default=False)
server = string(default = "127.0.0.1")

[Message Pipe]
active = boolean(default=False)
port = integer(default = 6000)

[Http Post]
active = boolean(default=True)
server = string(default = "127.0.0.1")
port = integer(default = 8000)

[Logging]
console = boolean(default=False)
file = boolean(default=False)

[General]
archive = boolean(default=False)
build = boolean(default=True)
compile = boolean(default=True)
debug = boolean(default=False)
deploy = boolean(default=False)
diff = boolean(default=False)
measure = boolean(default=False)
monitor = boolean(default=False)
render = boolean(default=True)

[Compile Targets]
#TODO: merge Compiler options below to be specific to each target
[[Cisco]]
host = string(default ="internal")
platform = string(default ="cisco")
[[Netkit]]
host = string(default ="localhost")
platform = string(default ="netkit")
[[__many__]]
host = string()
platform = string()

[Compiler]
[[Cisco]]
timestamp = boolean(default=True) # if to include timestamp in folder name
to memory = boolean(default=False) # if to compile to memory instead of directory files

[Deploy Hosts]
  [[__many__]] # servername
    [[[__many__]]] # platform
      host = string()
      username = string()
      key file = string(default = "")
      compile = boolean(default=False) # whether to compile for this host
      deploy = boolean(default=False) # whether to deploy to this host
      measure = boolean(default=False) # whether to measure from this host
      measure commands = force_list(default=list(''))

#TODO: inherit from base load settings, and then override for format, eg graphml, json etc.
[Graphml]
  [[Graph Defaults]]
  __many__ = string()
  [[Node Defaults]]
  device_type = string(default = "router")
  asn = integer(default = 1)
  platform = string(default = "netkit")
  host = string(default = "localhost")
  ospf_area = integer(default = 0)
  __many__ = string()
  [[Edge Defaults]]
  type = string(default = "physical")
  __many__ = string()
