body
{
  font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
  background-color: rgb(255, 255, 255);
  color: #333;
}

circle {
  fill: steelblue;
}

path.link {
  fill: none;
  stroke: steelblue;
}

#path_verified_marker{
  stroke: green;
  fill: green;
}

#path_marker {
  stroke: black;
  fill: black;
}

#path_unverified_marker {
  stroke: red;
  fill: red;
}

.node_filter {
  position:absolute;
  top: 45px;
  left: 0.5%;
  padding: 5px;
  border: 1px solid #333;
  background-color: #eee;
}

.interface_icon {
}

.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  margin: 1px;
  color: white;
}

.infobar {
  display: none;
  position:absolute;
  right:10px;
  width:15%;
  top: 10px;
  border: 1px solid steelblue;
  height: 90%;
  padding: 5px;
  background-color: white;
}

.slider-vertical {
  border-radius: 5px;
  float: right;
  top: 100px;
  right: 45px;
  height: 200px;
}

.infobar ul{
  list-style-type:none;
  margin-left: 0;
  padding-left: 1em;
  font-size: small;
}

.navbar {
  position:absolute;
  top: 10px;
  height: 30px;
  width: 99%;
  border-bottom: 1px solid #333;
  z-index: 5;
}

.node_filter {
  display: none;
  border-radius: 5px;
}

.visualisation {
  position:absolute;
  top: 45px;
  width: 99%;
  height: 95%;
  z-index: -1;
}

.chart_rect {
  fill: rgb(255, 255, 255);
}

.size_box {
  display: none;
}


